
/* .main {
  max-width: 700px;
} */

.switch-field {
    display: flex;
    overflow: hidden;
    align: centre;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    background-color: #f7f2f1;
    color: rgba(0, 0, 0, 0.8); /* opacity */
    font-size: 1rem;
    line-height: 1;
    text-align: center;
    padding: 5px 5px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label{
    background-color: #448f99;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}

h1 {
    font-size: 1.8rem;
    font-family: "Garmond";
    font-weight: bold;
    color: #256cb2;
    /* font-family: "Verdana"; */
}

h2 {
    font-size: 1.2rem;
    font-family: "Garmond";
    font-weight: bold;
    color: #256cb2;
  }

p {
  font-size: .8rem;
  font-family: "Verdana";
  text-align: justify;
  text-justify: inter-word;
}

p.tooltip {
  font-size: .8rem;
  font-family: "Verdana";
  text-align: left !important;
  color: #ccc000;
}

a {
  color: #cc0052;
}

table {
		width: 100%;
		border-collapse: collapse;
    font-family: "Verdana";
    font-size: .8rem;
    color: #000000;
	}

  tr:nth-of-type(odd) {
		background: #d6ebff;
	}

	th {
    background-color: #ffffff;
		color: #256cb2;
    font-size: .8rem;
	}

	td, th {
    padding-top: 0px;
		padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 1px;
		border: 1px solid #ffffff;
		text-align: left;
	}

.node:hover {
  stroke: black;
}

.line {
  fill: none;
  stroke: #EF5285;
  stroke-width: 2px;
}

.tooltip {
  max-width: 150px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: .8rem;
  background: #ffffff;
  color: #000000;
  border-radius: 5px;
  border: 1px solid #000;
}

.tooltip_bars {
  max-width: 180px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: .8rem;
  background: #ffffff;
  color: #000000;
  border-radius: 5px;
  border: 1px solid #000;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
}

/* We tell all items to be 100% width, via flex-basis */
.wrapper > * {
  flex: 1 100%;
}

svg {
  background: #ffffff;
}

.cause_list {
  display: block;
  padding: 0.5em 0.5em;
  border: none;
  color: #000000;
  background: #ffffff;
  cursor: pointer;
  text-align: left;
  font-size: .8rem;
  font-family: inherit;
  margin: 0 0 3px;
  border-left: 8px solid #ccc;
}

.cause_list:hover{
  background: #ccc;
}

.footer {
  font-family: "Garmond";
  font-weight: bold;
  background-color: #ffffff;
  color: #256cb2;
  font-size: 30px;
  min-height: 60px;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 20PX;
  text-align: right;
}

/* Small screens */
@media all and (min-width: 400px) {
  /* We tell both sidebars to share a row */
  .main {
    flex: 4 0px;
    margin: auto;
  }

  .aside-1 {
    flex: 1 auto;
    max-width: 400px;
  padding-right: 15px;}

  .aside-2 {
    flex: 1 auto;
    max-width: 400px;
  padding-right: 15px;}
}


/* Large screens */
@media all and (min-width: 600px) {
  /* Invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars
   */

  .aside-1 {
    order: 1;
    max-width: 20%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  .main    {
    flex: 4 0px;
    max-width: 55%;
    order: 2;
  }

  .aside-2 {
    order: 3;
    max-width: 20%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }

  .footer  {
    order: 4;
  }
}
