*{
  font-family: 'Open Sans', sans-serif;
  /* font-size: .85rem; */
  }

p {
  font-size: .9rem;
}

* {-webkit-font-smoothing: antialiased;}

div {
    display: inline-block;
}


.liquidFillGaugeText {
  font-family: Helvetica;
  font-weight: bold; }

.flex-container {
  display: flex;
  justify-content: center;
}

.summary {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #E3EDF9;
  border: 1px solid #3E75BE;
  border-radius: 5px;
  font-size: .9rem;
}

.remember_overlap_text {
  font-size: .7rem !important;
}

svg {
  background-color: #FFF;
}

/* .list-group-item {
  max-height: 15px;
} */

.header {
 margin: auto;
 width: 100%;
 text-align: center;
 margin-top: 20px;
 margin-left: 20px;
 margin-right: 20px;
 margin-bottom: 30px;
}

.left-sidebar {
  float: left;
  width: calc(20% - 40px);
  top: 0;

  margin-left: 20px;
  margin-right: 20px;
  position: sticky;
}

.main {
  width: calc(80% - 40px);
  top: 0;
  margin-left: 20px;
  margin-right: 20px;
  float: right;
}

.content {
  float: none;
  width: calc(65% - 10px);
  margin-right: 10px;
}

.right-sidebar {
  float: right;
  width: calc(35% - 40px);
  color: #444;
  margin-left: 20px;
  margin-right: 20px;
  top: 0;
}

/* Fonts */

h1 {
    font-size: 1.8rem;
    /* font-family: "Garamond", serif; */
    font-weight: bold;
    color: #256cb2;
    /* font-family: "Verdana"; */
}

h2 {
    font-size: 1.2rem;
    /* font-family: "Garamond", serif; */
    font-weight: bold;
    color: #256cb2;
  }

h3 {
  font-size: 1.2rem;
  /* font-family: "Garamond", serif; */
  font-weight: bold;
  color: #000;
    }

p.side {
  font-size: .8rem;
  text-align: justify;
  text-justify: inter-word;
}

p.side_important {
  text-align: justify;
  font-weight: bold;
  color: red;
  text-justify: inter-word;
}

p {
  font-size: 1rem;
  text-align: justify;
  text-justify: inter-word;
}

a {
  color: #cc0052;
}


.left-foot {
  margin-left: 50px;
  width: 60%;
}

.right-foot {
  font-family: "Garamond", serif;
  font-weight: bold;
  background-color: #ffffff;
  color: #256cb2;
  font-size: 30px;
  min-height: 60px;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 20PX;
  text-align: right;
    float: right;
}

/* Buttons */
.switch-field {
    display: flex;
    overflow: hidden;
    /* align: centre; */
    float: right;
}


.switch-field button {
    background-color: #ff9500;
    color: rgba(0, 0, 0, 0.8); /* opacity */
    font-size: 1rem;
    line-height: 1;
    text-align: center;
    padding: 5px 5px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field button.active {
    background-color: #333;
    color: #fff;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}

p.tooltip_b {
  font-size: .8rem;
  text-align: left !important;
}

/* Tables */
table {
		width: 100%;
		border-collapse: collapse;

    font-size: .9rem;
    color: #000000;
	}

  tr:nth-of-type(odd) {
		background: #d6ebff;
	}

	th {
    background-color: #ffffff;
		color: #256cb2;
    font-size: 1.2rem;
	}

	td, th {
    padding-top: 2px;
		padding-right: 5px;
    padding-left: 1px;
    padding-bottom: 2px;
    font-size: .9rem;
		border: 1px solid #ffffff;
    vertical-align: top;
		text-align: left;
	}


/* Stylings for d3 elements */
.node:hover {
  stroke: black;
}

.line {
  fill: none;
  stroke: #EF5285;
  stroke-width: 2px;
}

/* Tooltips */

.tooltip_bubbles {
  max-width: 280px;
  padding-left: 5px;
  padding-right: 5px;
  background: #ffffff;
  color: #000000;
  border-radius: 5px;
  border: 1px solid #000;
  text-align: left !important;
}

.tooltip_bars {
  max-width: 280px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: .8rem;
  background: #ffffff;
  color: #000000;
  border-radius: 5px;
  border: 1px solid #000;
}

.tooltip_stacked_bars {
  max-width: 280px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: .8rem;
  background: #ffffff;
  color: #000000;
  border-radius: 5px;
  border: 1px solid #000;
}

.tooltip_r_change {
  max-width: 280px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: .8rem;
  background: #ffffff;
  color: #000000;
  border-radius: 5px;
  border: 1px solid #000;
}

.tooltip_rate_change {
  max-width: 280px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: .8rem;
  background: #ffffff;
  color: #000000;
  border-radius: 5px;
  border: 1px solid #000;
}

.venntooltip {
  max-width: 280px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: .8rem;
  background: #ffffff;
  color: #000000;
  border-radius: 5px;
  border: 1px solid #000;
}

/* Summaries */

.cause_list {
  display: block;
  padding: 0.5em 0.5em;
  border: none;
  color: #000000;
  background: #ffffff;
  cursor: pointer;
  text-align: left;
  font-size: .8rem;
  font-family: inherit;
  margin: 0 0 1px;
  border-left: 8px solid #ccc;
  position: relative;
}

.cause_list:hover{
  background: #ccc;
}

.cause_list .side_tt{
  display: none;
}

.cause_list:hover .side_tt{
  display: block;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: -425px;
  width: 400px;
  background: #f7f7f7;
  color: #111;
  padding: 15px;
  border: 3px solid #fff;
  box-shadow: 0 2px 15px rgba(0,0,0,0.2);
}

p.cause_list .side_tt {
    font-size: .8rem !important;
}


.side_tt:after{
  content: '';
  width: 5px;
  height: 5px;
  position: absolute;
  top: 0;
  right: -13px;
  border-left: 5px solid #222;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.ml-1{
    margin-left: 10px;
}

.ml-2 {
    margin-left: 20px;
}

.ml-3{
    margin-left: 30px;
}

.mr-1{
    margin-right: 10px;
}

.mr-2 {
    margin-right: 20px;
}

.mr-3{
    margin-right: 30px;
}

/**
    INFOGRAPHIC PLACEHOLDER STUFF
 */

.infographic-placeholder{
    width: 800px;
    height: 600px;
    position: relative;
    background: #f7f7f7;
}

.infographic-placeholder .men-area{
    width: 140px;
    padding: 30px;
    background: #999;
    color: #fff;
    text-align: center;
}

.infographic-placeholder img{
    max-width: calc(100% - 60px);
    height: auto;
}

.infographic-placeholder span{
    font-size: 30px;
    display: block;
}

.infographic-placeholder .men-area img{
    width: 60px;
    height: auto;
    margin: 0;
}

.infographic-placeholder span.figure{
    font-weight: bold;
    font-size: 50px;
}

.infographic-placeholder .women-area{
    width: 140px;
    padding: 30px;
    background: purple;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 150px;
    right: 50px;
}

.percentage_guage .background {
fill: #E6E7E8;
}

.percent-attributed {
font-size: 35px;
fill: #5B8BE3;
letter-spacing: -.03em;
}

.description {
font-size: 11px;
fill: #9B9B9B;
}

.description_none {
font-size: 12px;
/* font-weight: bold; */
fill: #d80727;
}

.venn_class {
display: inline-block;
margin: auto;
padding: 0px;
}

.venn_wrapper {

margin-left: auto;
margin-right: auto;
display: block;
}

.good_to_know {
  border: 2px solid #cc0052;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  padding-top: 5px;
  position: sticky;
  top: 0;
}
